body {
    background-color: black;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-left: 10px;
    flex:0 0 auto;
  }

  .logo img {
    width:100%;
    max-width: 400px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }

  .nav-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
  }

  .linkedin {
    background-color: rgb(196, 171, 134);
  }
  
  .facebook {
    background-color:rgb(196, 171, 134);
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  
  .hero-section {
    background-image: url("../images/EvelynLawBG.jpg");
    background-size: cover;
    background-position: top;
    /* min-height: 100vh; */
    height: 600px;
    position: relative;
    /* top: 131px; */
    display: flex;
    justify-content: flex-start;
    align-items: top;
    /* outline: 1px solid red; */
  }
  
  .hero-content {
    text-align: left;
    color:rgb(196, 171, 134);
    margin-top: 100px;
    margin-left: 50px; /* Add some margin to align content with the left edge of the section */
  }

  h1 {
    margin: 0;
  }
  
  .hero-heading {
    font-size: 58px;
    text-transform:uppercase;
    font-weight: bold;
    /* margin: 0 0 10px; */
  }
  
  .hero-subheading {
    font-size: 34px;
    color: white;
    text-transform:uppercase;
    font-weight: normal;
    margin: 0;
  }
  
  .consultation-button {
    display: inline-block;
    padding: 10px 15px;
    background-color:rgb(196, 171, 134);
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Set up the grid container */
        .services {
          width:50%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 20px;
        }
        
        /* Style the service boxes */
        .service {
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        
        

  
  .bio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(196, 171, 134), #FFFFFF);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-section {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
    text-align: center;
  }
  
  .left-section img {
    width: 250px;
    height: auto;
    /* max-height: 300px; */
  }
  
  .right-section {
    width: 100%;
    max-width: 600px;
  }
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .service-box {
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .service-box h3 {
    margin-top: 0;
  }
  
  .service-box p {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .logo img {
      width:100%;
      max-width: 200px;
    }
    
    nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      text-align: right;
    }
    
    nav.open {
      display: block;
    }
    
    nav ul {
      display: block;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      margin: 10px 0;
    }
    
    nav a {
      font-size: 16px;
      color: #333;
      text-decoration: none;
      display: block;
    }
    
    nav a:hover {
      text-decoration: underline;
    }

    .hero-section {
      height: 300px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: top;
      outline: 1px solid red;
    }

    .hero-content {
      text-align: left;
      margin-top: 50px;
      margin-left: 20px; /* Add some margin to align content with the left edge of the section */
    }

    .hero-heading {
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 5px;
    }
    
    .hero-subheading {
      font-size: 16px;
      line-height: 1.5rem;;
      text-transform:uppercase;
      font-weight: normal;
      margin: 0;
    }

    .consultation-button {
      display: inline-block;
      padding: 5px 10px;
      background-color:white;
      color:black;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      text-align: left;
      text-transform: uppercase;
      border-radius: 5px;
      margin-top: 20px;
    }

    .left-section img {
      width: 175px;
      height: auto;
      margin-top: 25px;
      /* max-height: 300px; */
    }

  }

  /* Add some responsive styles */
  @media only screen and (max-width: 600px) {
    .services {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
    
    .service {
      padding: 10px;
    }
  }
